.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.popup {
  background: var(--white);
  color: var(--black);
  padding: 24px;
  border-radius: 12px;
  min-width: 320px;
  max-width: 90%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.closeButton {
  display: flex;
  float: right;
  font-size: x-large;
}
