@import "tailwindcss";

:root {
  --gray: #493B3C;
  --white: #EEEBEE;
  --main-light: #466FC3;
  --main: #26396B;
  --highlight: #E1CD43;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: "Pirata One";
}
