@import "tailwindcss";

:root {
  --black: #111;
  --gray: #493B3C;
  --white: #EEEBEE;
  --main-light: #466FC3;
  --main: #26396B;
  --highlight: #E1CD43;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Pirata One", system-ui, -apple-system, BlinkMacSystemFont;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--black);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1vh;
  font-weight: 600;
  line-height: 1.2;
  color: var(--black);
}

h1 {
  font-size: 8vh;
}

h2 {
  font-size: 6vh;
}

h3 {
  font-size: 4vh;
}

p {
  margin: 0 0 1em 0;
  color: var(--black);
}

@media (max-width: 768px) {}