@import "tailwindcss";

:root {
  --black: #111;
  --gray: #493B3C;
  --white: #EEEBEE;
  --main-light: #466FC3;
  --main: #26396B;
  --highlight: #E1CD43;
}

* {
  font-family: "Pirata One";
  color: var(--white);
}

