.bg {
  object-fit: cover;         /* copre tutto */
  position: absolute;  
  object-position: 10% 50%;      /* obbligatorio */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;               /* dietro il contenuto */
}