.bg {
  object-fit: cover;
  position: absolute;
  object-position: 10% 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main {
  text-align: center;
}

.logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 8vh 0 2vh 0;
}