.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 8vh;
  padding: 2vh 0;
  align-items: center;
}

.links {
  list-style: none;
  display: flex;
  justify-content:space-evenly;
}

.links a {
  text-decoration: none;
  flex-direction: row;
}

.links a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 4vh;
  height: 4vh;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 200;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: var(--black);
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Hamburger diventa X */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(14.1%, 200%);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(14.1%, -200%);
}

@media (max-width: 768px) {
  .links {
    display: none;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    background-color: var(--white);
    padding: 16px;
    z-index: 100;
  }

  .links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    float: right;
    margin: 0 15px 0 0;
  }
}
