.navbar {
  height: 64px;
  padding: 24px 0;
  background-color: #111;
  color: white;
  align-items: center;
}

.links {
  list-style: none;
  display: flex;
  justify-content:space-evenly;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.links a:hover {
  text-decoration: underline;
}
