.btn-primary {
    border: solid 3px var(--black);
    backdrop-filter: blur(5px);
    color: var(--black);
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-secondary {
    background: gray;
    color: white;
    padding: 10px;
    border-radius: 5px;
}