.btn-primary { 
    background: var(--black); 
    color: var(--white); 
    padding: 5px 10px; 
    border-radius: 5px; 
}

.btn-secondary { 
    background: gray; 
    color: white; 
    padding: 10px; 
    border-radius: 5px; 
}